/computer.lnk
/desktop.ini
/Discord.lnk
/Fork.lnk
/Gameloop.lnk
/JS
/MSI Afterburner.lnk
/other files
/public
/Razer Cortex.lnk
/Redragon Gaming Software K596RGB 1.0.0.3 Setup.exe
/Redragon Gaming Software.lnk
/test-1
/Zoom.lnk